.container-fluid, body{
    background-image: linear-gradient(to right top, #ff9671, #e57b89, #7d6592, #4b597a, #2f4858);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.wrapper {
    height: 100%;
}

.btn{
    margin: 0px 10px 0px 10px;
    color: white;
}


.news-container{
    background-color: rgba(255, 255, 255, 0.507);
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 40px;
    margin: 20px 20px;
    display: flexbox;
}

.news-image{
    width: 100%;
    display: block;
    position: relative;
    margin: 20px 0px 20px 0px;
}
