.container-fluid, body{
    background-color: #607D8B;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    height: 100%;
}

.btn{
    margin: 0px 10px 0px 10px;
    color: white;
}

.myNavbar{
    margin: 0 auto;
}

.article-container{
    background-color: #cfd8dc96;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin: 20px 20px;
}

.article-image{
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}
