.container-fluid {
    background-color: #607D8B;
}

.wrapper {
    height: 100%;
    /* max-width: 99%; */
    margin: 0 auto;
}

.btn{
    margin: 0px 10px 0px 10px;
    color: white;
}

.myNavbar{
    margin: 0 auto;
}

.article-container, .reports-container, .report-container{
    background-color: #CFD8DC;
    height: auto;
    border: 1px solid black;
    border-radius: 30px;
    margin: 20px 20px;
    padding: 40px
}

.article-image, .reports-image {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}

